<template>
  <div class="home">
    

    <form>
        <h2 class="text-xl mb-2">StoneNotes</h2>
    </form>
    <h2>Stuff due today!</h2>
    
  </div>
</template>

<script lang="ts">
import App from '../App.vue';
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '../components/HelloWorld.vue'; // @ is an alias to /src

@Component({
  components: {
  },
})
export default class Home extends Vue {
    
    created(): {
        console.log('app created!');
    }
    
}
</script>
