<template>
  <div class="home">
    

    <form>
        <h2 class="text-xl mb-2">Add New {{ itemType }}</h2>
        <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="title">
            Title
        </label>
        <input id="title" type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" /></label>
        <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="title">
            Memo
        </label>
        <textarea id="note" class="flex appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                rows="20"></textarea>
    </form>


  </div>
</template>
<style>
#nav a {
color: #FFF;
}
</style>
<script lang="ts">
import App from '../App.vue';
import { Component, Prop, Vue } from 'vue-property-decorator';
import HelloWorld from '../components/HelloWorld.vue'; // @ is an alias to /src

@Component({
  components: {
  },
})
export default class ItemCreate extends Vue {
    @Prop({default: 'notes'})
    itemType: string;
    
    created(): {
    }
    
}
</script>
