<template>
  <div class="home">
    

    <form style="display: flex; margin-top: 10px;">
        <input id="search" type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded-l py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" style="flex: 1;" :placeholder="'Search or create ' + itemType" /></label>
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mb-3 rounded-r">
  New Note
</button>
    </form>

    <Card v-for="note in notes" :key="note.id" :item="note" />
    

  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';

import Card from '../components/Card.vue'; // @ is an alias to /src

interface INote {
    id: number;
    title: string;
    note: string;
}

@Component({
  components: {
    Card
  },
})
export default class Items extends Vue {
    @Prop({default: 'notes'})
    itemType: string;
    notes: INote[] = [];

    created() {
        axios.get('http://10.211.55.6:9901/'+this.itemType+'.json')
            .then((response: AxiosResponse) => {
                console.log('gotData', response.data);
                this.notes = response.data;
                this.notes.forEach(function(note: INote) {
                    note.note = note.note.replace(/(?:\r\n|\r|\n)/g, '<br>');
                });
            })
            .catch((error: AxiosError) => {
                console.log('handleError',error);
            });

    }
    
}
</script>
