<template>
  <div class="error">
    <form>
        <h2 class="text-xl mb-2">Route not found!</h2>
    </form>
  </div>
</template>

<script lang="ts">
import App from '../App.vue';
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
  components: {
  },
})
export default class Home extends Vue {

}
</script>
